:host {
  display: block;
  width: fit-content;
  min-width: 500px;
  min-height: 500px;
  background-color: whitesmoke;
  outline: 1px solid black;
  margin-left: 50px;
  border-radius: 15px;
  padding: 15px;
  font-size: 1.25rem;
}

.question-header {
    font-size: 1.5rem;
}

.quiz-title {
    font-size: 2rem;
    font-family: var(--header-font-family)
}

:host hr {
    margin: 15px 0;
}

#score-div {
    display: flex;
    justify-content: space-between;
}

#score-div p {
    margin: 10px 0 0 0;
    width: 50%;
}

label.correct {
    color: green;
    font-weight: bold;
}

label.false {
    color: red;
    font-weight: bold;
}

.result-medal {
    font-size: 64px;
}