main ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
    width: fit-content;
}

main li {
    display: block;
    background-color: gainsboro;
    width: 500px;
    margin-bottom: 30px;
    outline: 1px solid black;
    padding: 15px;
    border-radius: 15px;
    margin-left: 30px;
}

main li div {
    font-size: 32px;
}

main li a {
    text-decoration: none;
    color: black;
    background-color: var(--secondary-colour);
    display: inline-block;
    font-size: 24px;
    outline: 1px solid black;
    padding: 7px;
    padding-inline: 20px;
    border-radius: 10px;
}