h1{
    text-align: center;
}

table, th, td{
    border: 3px solid rgb(212, 0, 255);
    padding: 10px;
    text-align: center;
}

p.solid {
    border-style: solid;
        padding: 5px;
        width: 950px; 
        color: green;
}

img[src*="Primenumbers1-100.png"] {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.979)) sepia(75%) hue-rotate(100deg);
    display: block;
    margin: auto;
}