<div class="footer-section">
    <ul>
        <li><a href="JC1861-Lesson-1.html" role="menuitem" tabindex="0">Measures And Accuracy</a></li>
                <li><a href="JC1861-Lesson-2.html" role="menuitem" tabindex="0">Structure and Calculation</a></li>
                <li><a href="NJ433-Lesson-1.html" role="menuitem" tabindex="0">Prime Numbers</a></li>
                <li><a href="NJ433-Lesson-2.html" role="menuitem" tabindex="0">Powers and Roots</a></li>
                <li><a href="NJ433-Lesson-3.html" role="menuitem" tabindex="0">Pythagoras' Theorem</a></li>
                <li><a href="SK1933-Lesson-1.html" role="menuitem" tabindex="0">Algebraic Expressions</a></li>
                <li><a href="SK1933-Lesson-2.html" role="menuitem" tabindex="0">Graph</a></li>
                <li><a href="RH1035-Lesson-1.html" role="menuitem" tabindex="0">Circles</a></li>
                <li><a href="RH1035-Lesson-2.html" role="menuitem" tabindex="0">Vectors</a></li>
                <li><a href="AS3612-Lesson-1.html" role="menuitem" tabindex="0">Probability</a></li>
                <li><a href="AS3612-Lesson-2.html" role="menuitem" tabindex="0">Ratio and Fraction</a></li>
    </ul>
</div>

<div class="footer-section">
    <ul>
        <li><a href="team.html" >Team</a></li>
        <li><a href="contact.html" >Contact</a></li>
    </ul>
</div>
