<a href="index.html" id="logo-div">
    <img src="/images/common/branding/logo-transparent-128.png" id="header-logo" alt="Company logo" />
    <p>One
And
Done
    </p>
</a>
<nav id="header-dropdown-div">
    <div id="header-dropdown-menu">
        <button aria-haspopup="true" aria-expanded="false" aria-controls="dropdown-a" data-id="a" >Lessons</button>
        <a href="team.html" >Team</a>
        <a href="contact.html" >Contact</a>
    </div>

    <div id="header-dropdown-content">
        <div id="dropdown-a" data-id="a" role="menu" aria-label="Dropdown A">
            <ul class="has-header" role="menu" aria-label="Submenu 1">
                <li><strong>Lessons</strong></li>
                <li><a href="JC1861-Lesson-1.html" role="menuitem" tabindex="0">Measures And Accuracy</a></li>
                <li><a href="JC1861-Lesson-2.html" role="menuitem" tabindex="0">Structure and Calculation</a></li>
                <li><a href="NJ433-Lesson-1.html" role="menuitem" tabindex="0">Prime Numbers</a></li>
                <li><a href="NJ433-Lesson-2.html" role="menuitem" tabindex="0">Powers and Roots</a></li>
                <li><a href="NJ433-Lesson-3.html" role="menuitem" tabindex="0">Pythagoras' Theorem</a></li>
                <li><a href="SK1933-Lesson-1.html" role="menuitem" tabindex="0">Algebraic Expressions</a></li>
                <li><a href="SK1933-Lesson-2.html" role="menuitem" tabindex="0">Graph</a></li>
                <li><a href="RH1035-Lesson-1.html" role="menuitem" tabindex="0">Circles</a></li>
                <li><a href="RH1035-Lesson-2.html" role="menuitem" tabindex="0">Vectors</a></li>
                <li><a href="AS3612-Lesson-1.html" role="menuitem" tabindex="0">Probability</a></li>
                <li><a href="AS3612-Lesson-2.html" role="menuitem" tabindex="0">Ratio and Fraction</a></li>
            </ul>
            <ul role="menu" aria-label="Submenu 2">
                <li><a href="final-quiz.html" role="menuitem" tabindex="0">Final quiz</a></li>
            </ul>
        </div>
        <!-- <div id="dropdown-b" data-id="b" role="menu" aria-label="Dropdown B"> 
            <ul class="has-header" role="menu" aria-label="Submenu 1">
                <li><strong>Header</strong></li>
                <li><a href="#" role="menuitem" tabindex="0">Item 3A</a></li>
                <li><a href="#" role="menuitem" tabindex="0">Item 3B</a></li>
            </ul>
            <ul class="has-header" role="menu" aria-label="Submenu 2">
                <li><strong>Header</strong></li>
                <li><a href="#" role="menuitem" tabindex="0">Item 4A</a></li>
                <li><a href="#" role="menuitem" tabindex="0">Item 4B</a></li>
            </ul>
            <ul class="has-header" role="menu" aria-label="Submenu 3">
                <li><strong>Header</strong></li>
                <li><a href="#" role="menuitem" tabindex="0">Item 4A</a></li>
                <li><a href="#" role="menuitem" tabindex="0">Item 4B</a></li>
            </ul>
        </div>
        <div id="dropdown-c" data-id="c" role="menu" aria-label="Dropdown C"> 
            <ul class="has-header" role="menu" aria-label="Submenu 1">
                <li><strong>Header</strong></li>
                <li><a href="#" role="menuitem" tabindex="0">Item 3A</a></li>
                <li><a href="#" role="menuitem" tabindex="0">Item 3B</a></li>
            </ul>
            <ul class="has-header" role="menu" aria-label="Submenu 2">
                <li><strong>Header</strong></li>
                <li><a href="#" role="menuitem" tabindex="0">Item 4A</a></li>
                <li><a href="#" role="menuitem" tabindex="0">Item 4B</a></li>
            </ul>
        </div> -->
    </div>
</nav>
<div id="sign-in-div">
    <label for="sign-in-button">Sign in</label>
    <img src="/images/common/user-icon.svg" id="sign-in-image" alt="" />
</div>