<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LESSON NAME HERE | One and Done</title>       <!-- INSERT LESSON NAME -->
    <!-- Header -->
    <script src="/scripts/common/header.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/common/header.css">
    <!-- Footer -->
    <script src="/scripts/common/footer.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/common/footer.css">
    <!-- Branding -->
    <link rel="stylesheet" href="/stylesheets/common/branding.css">
    <!-- Lesson styling -->
    <link rel="stylesheet" href="/stylesheets/shared/lessons.css">
</head>

<body>
    <div class="content">
        <nav>
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="">Lessons</a></li>
                <li>LESSON NAME HERE</li>       <!-- INSERT LESSON NAME -->
            </ul>
        </nav>
        <main>
            <!-- ALL HTML GOES HERE IN THESE MAIN TAGS -->
            <h1>Test</h1>
            <p>ttsfjsdfgdlfkg</p>
        </main>
    </div>
</body>

</html>