footer {
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  background-color: red;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  padding: 50px 20%;
}
.footer-section {
  display: flex;
  justify-content: center;
  width: 100%;
}
ul {
    list-style: none; 
    color: white;
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}