@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

header {
    --header-height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: sticky;
    background-color: red;
    height: var(--header-height);
    width: 100dvw;
}

body {
    margin: 0;
}

#logo-div {
    --logo-div-margin: 10px;
    height: calc(var(--header-height) - 2 * var(--logo-div-margin));
    margin: var(--logo-div-margin);
    background-color: yellow;
    display: flex;
    flex-direction: row;
}

#header-logo {
    height: calc(var(--header-height) - 2 * var(--logo-div-margin));
    width: calc(var(--header-height) - 2 * var(--logo-div-margin));
    background-color: orange;
}

#logo-div p {
    font-family: "Roboto", sans-serif;
    white-space-collapse: preserve;
    margin: 0;
    line-height: calc((var(--header-height) - 2 * var(--logo-div-margin)) / 3); /*One third of logo height*/
    font-size: 27px;
    margin-left: 5px;
}

#sign-in-div {
    height: 90px;
    width: 90px;
    margin: 10px;
    background-color: yellow;
}

#header-dropdown-div {
    --header-nav-height: 65px;
    width: 500px;
    height: var(--header-nav-height);
    background-color: yellow;
    position: relative;
    display: inline-block;
}

#header-dropdown-content {
  display: none;
  position: absolute;
  top: var(--header-nav-height);
  background-color: green;
  min-width: 100%;
  min-height: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#header-dropdown-div:hover #header-dropdown-content {
    display: block;
}