@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

header {
    --header-height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: sticky;
    background-color: red;
    height: var(--header-height);
    width: 100dvw;
}

body {
    margin: 0;
}

#logo-div {
    --logo-div-margin: 10px;
    height: calc(var(--header-height) - 2 * var(--logo-div-margin));
    margin: var(--logo-div-margin);
    background-color: yellow;
    display: flex;
    flex-direction: row;
}

#header-logo {
    height: calc(var(--header-height) - 2 * var(--logo-div-margin));
    width: calc(var(--header-height) - 2 * var(--logo-div-margin));
    background-color: orange;
}

#logo-div p {
    font-family: "Roboto", sans-serif;
    white-space-collapse: preserve;
    margin: 0;
    line-height: calc((var(--header-height) - 2 * var(--logo-div-margin)) / 3); /*One third of logo height*/
    font-size: 27px;
    margin-left: 5px;
}

#sign-in-div {
    height: 90px;
    width: 90px;
    margin: 10px;
    background-color: yellow;
}

header nav {
    width: 500px;
    height: 65px;
    background-color: yellow;
}